<%= form_for(@web_component) do |f| %>
  <% if @web_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_component.errors.count, "error") %> prohibited this web_component from being saved:</h2>

      <ul>
      <% @web_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
